---
# tasks file for service


# -------------------------------------------
# *** Adding privilege separation directory ***
# -------------------------------------------

- name: Creating privilege separation directory
  file:
    path: /var/run/sshd
    state: directory
    owner: root
    group: root
    mode: 0775
  become: yes


# -------------------------------------------
# *** Service template ***
# -------------------------------------------

- name: Copying service-template to server
  template:
    src: templates/server.service.j2
    dest: /etc/systemd/system/{{ nodejs_service_props.name }}.service
    owner: "{{ nodejs_service_owner }}"
    group: "{{ nodejs_service_owner }}"
  become: yes


# -------------------------------------------
# *** Autorun & State ***
# -------------------------------------------

- name: "{{ nodejs_service_props.state }} Service & {{ 'enabled' if nodejs_service_props.autostart=='yes' else 'disabled' }} autostart"
  systemd:
    name: "{{ nodejs_service_props.name }}"
    state: "{{ nodejs_service_props.state }}"
    enabled: "{{ nodejs_service_props.autostart }}"
  become: yes


# -------------------------------------------
# *** Restart Servers ***
# -------------------------------------------

- name: Restart server
  service:
    name: "{{ nodejs_service_props.name }}"
    daemon_reload: yes
    state: restarted
  become: yes

- name: Restart SSH
  service:
    name: ssh
    state: restarted
  become: yes