---
# tasks file for service


# -------------------------------------------
# *** Service template ***
# -------------------------------------------

- name: Copying service-template to server
  template:
    src: templates/server.service.j2
    dest: /etc/systemd/system/{{ systemd_service_props.name }}.service
    owner: 'root'
    group: 'root'
  become: yes


# -------------------------------------------
# *** Autorun & State ***
# -------------------------------------------

- name: "{{ systemd_service_props.state }} Service & {{ 'enabled' if systemd_service_props.autostart=='yes' else 'disabled' }} autostart"
  systemd:
    name: "{{ systemd_service_props.name }}"
    state: "{{ systemd_service_props.state | default('started') }}"
    enabled: "{{ systemd_service_props.autostart }}"
  become: yes