[Unit]
Description={{ systemd_service_props.name }}

[Service]
ExecStart={{ systemd_service_exec_path }}
{% if systemd_service_working_dir is defined and systemd_service_working_dir|length %}
WorkingDirectory={{ systemd_service_working_dir }}
{% endif %}
{% if systemd_service_env_path %}
EnvironmentFile={{ systemd_service_env_path }}
{% endif %}
User={{ systemd_service_props.user if (systemd_service_props.user is defined) else 'root' }}
Group={{ systemd_service_props.user if (systemd_service_props.user is defined) else 'root' }}

[Install]
WantedBy=multi-user.target

