[Unit]
Description={{ nodejs_service_props.name }}

[Service]
ExecStart={{ nodejs_exec_path }}
{% if nodejs_working_dir is defined %}
WorkingDirectory={{ nodejs_working_dir }}
{% endif %}
{% if nodejs_env_path %}
EnvironmentFile={{ nodejs_env_path }}
{% endif %}
User={{ nodejs_service_props.user if (nodejs_service_props.user is defined) else 'root' }}
Group={{ nodejs_service_props.user if (nodejs_service_props.user is defined) else 'root' }}

[Install]
WantedBy=multi-user.target

